@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 {
	font-size: 24px; 
}

h4 { 
	font-size: 20px;
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: square; 
}

input {
	height: 25px;
	border-radius: 4px;
	padding: 5px 5px;
	outline: none;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 40px 0;
}

#content-wrapper {
	clear: both;
	/*width: 60%;*/
}

#content {
	padding: 0 20px;
}

#footer {
	/**
	position: absolute;
	bottom: 0;
	**/
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

#onBehalfDiv {
	height: 120px;
	width: 60%;
	min-width: 20em;
	margin: auto;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
	background-color: #f3decb;
}

#askDiv {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.thatLine {
	content: "";
    display: block;
    margin: auto;
    width: 90%;
    border-top: 1px solid #f8eee7;
}

#onBehalfCheckDiv {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#checkYes {
	cursor: pointer;
}

#yesLabel {
	/*padding-left: 5px;*/
	/*padding-right: 10px;*/
	margin-bottom: 0;
	cursor: pointer;
}

.custom-control-indicator {
	background-color: white;
}

#behalfName {
	display: none;
	width: 25%;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#donateAmtDiv {
	width: 60%;
	min-width: 20em;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
	background-color: #f3decb;
}

#donateLabel {
	display: block;
	position: relative;
	right: 1.5%;
}

#donateAmt {
	width: 25%;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#inputInfoDiv {
	width: 60%;
	min-width: 20em;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
	background-color: #f3decb;
}

#nameInputDiv {
	
}

#nameLabel {
	display: block;
	position: relative;
	right: 10.7%;
}

#nameInput {
	width: 25%;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#cardInputDiv {
	
}

#cardLabel {
	display: block;
	position: relative;
	right: 6.5%;
}

#inputCardDiv {
	position: relative;
}

#cardNo {
	width: 25%;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

.cardIcon {
	position: absolute;
    top: -73%;
    left: 65%;
    font-size: 5em;
	display: none;
}

#dateCodeDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

#dateDiv {
	/*
	position: relative;
	right: 0.1%;
	*/
	width: 25%;
}

#expiryDateLabel {
	display: block;
	position: relative;
	left: 12.2%;
}

#selectMonth {
	height: 25px;
	width: 30%;
	position: relative;
    left: 30.7%;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#selectYear {
	height: 25px;
	width: 30%;
	position: relative;
	left: 30%;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#codeDiv {
	width: 25%;
}

#codeLabel {
	display: block;
	position: relative;
	right: 18.5%;
}

#securityCode {
	width: 35%;
	position: relative;
	right: 18%;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#errorMsg {
	display: none;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	color: white;
	background-color: #f74225;
	padding: 5px;
}

#buttonDiv {
	margin-top: 10px;
}

#donateBtn {
	height: 25px;
    width: 80px;
    font-weight: 600;
    outline: none;
    color: white;
    background-color: #49274a;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
}

#donateBtn:hover {
	border: 1px solid #49274a;
	color: #49274a;
	background-color: #f3decb;
}

/* Footer */

#footer p {
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration: none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}