@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Html Elements */


h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4 { 
	font-size: 20px; 
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: none; 
}

input {
	width: 100%;
	height: 25px;
	padding: 5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 2px 3px #ddd;
}

label {
	display: block;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
}

#content-wrapper {
	clear: both;
	width: 70%;
	margin: auto;
}

#content {
	margin: 0;
	padding: 0;
}

#footer {
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

#sideBarDivWrap {
	padding: 0;
}

#sideBarDiv {
	margin-top: 10px;
}

#sideBarList {
	padding: 0;
}

#listHeader {
	font-size: 20px;
    text-transform: uppercase;
    line-height: 2;
    color: #e36209;
}

#sideBarList > li > a {
	display: block;
    padding: 10px 0px;
    line-height: 1;
    font-size: 20px;
    color: #848d95;
    text-decoration: none;
}

#sideBarList > li > a:hover {
	color: #49274a;
}

#linkSelected {
	font-weight: 600;
	color: #49274a !important;
}

#editProfileImgDiv {
	position: relative;
	margin-top: 10px;
}

#profilePicLabel:hover {
	border: 1px solid #49274a;
	color: #49274a;
	background-color: #f8eee7;
}

#profilePicLabel {
	display: inline-block;
	height: 25px;
	width: 12em;
	font-weight: 600;
    outline: none;
    color: white;
    background-color: #49274a;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
}

#profilePicFile {
	width: 100%;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	display: none;
}

#profilePicSpan {
	height: 100%;
	width: 100%;
	justify-content: center;
    align-items: center;
    display: flex;
}

#profileContentDiv {
	
}

#profileNavDiv {
	width: 98.5%;
}

#profileNavList {
	padding: 9px 0px;
	border-bottom: 1px solid #ccc;
}

#profileNavList a {
	padding: 9px 8px;
	margin-right: 10px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #49274a;
}

#profileNavList a:hover {
	color: #49274a;
	border-bottom: 2px solid #e36209;
}

#defaultSelected {
	border-bottom: 2px solid #e36209;
}

#changeProfileDiv {
	margin-top: 10px;
}

#profileForm {
	
}

#editProfileInfoDiv {
	padding: 10px 8px;
    border: 2px solid #49274a;
}

#upper-EditProfileInfoDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

#lower-EditProfileInfoDiv {
	height: 50%;
    display: flex;
    align-items: center;
}

#editProfileDiv {
	margin: 0;
}

#userInfoDiv {
	padding: 0;
}

.divWrap {
	background-color: #f3decb;
    padding: 10px 8px;
    margin-top: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.innerDiv {
	margin-top: 10px;
}

#errorMsg {
	display: none;
	width: 50%;
	margin-top: 10px;
	color: white;
	background-color: #f74225;
	padding: 5px;
}

#genderSelect {
	height: 30px;
	width: 100%;
	padding: 5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 2px 3px #ddd;
	cursor: pointer;
}

#bioText {
	width: 100%;
	min-height: 100px;
	max-height: 150px;
	padding: 5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 2px 3px #ddd;
}

#userPicDiv {
	margin-top: 10px;
	padding: 0;
	text-align: right;
}

#updateBtnDiv {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 10px;
}

#updateBtn {
	height: 25px;
    width: 12em;
    font-weight: 600;
    outline: none;
    color: white;
    background-color: #49274a;
    cursor: not-allowed;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    line-height: 1;
}

#updateBtn:hover {
	border: 1px solid #49274a;
	color: #49274a;
	background-color: #f8eee7;
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}