@CHARSET "ISO-8859-1";
html
{
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Structure */

body
{
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header
{
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#wrapper{
	float: left;
	clear: both;
}

#navigation
{
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#footer
{
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color: #49274a;
}

#companyTitle{
	float: left;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

/* Navigation */

#navigation ul { float: left; list-style-type: none; margin: 0; padding: 0; background: none; border-width: 0; }

#navigation li { float: left; }

#navigation a
{
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link,
#navigation a:visited
{
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover,
#navigation a:active
{
	color: #94618e;
}

.navbar-nav{
	display: inline;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

/* Event Content */

.content{
	padding: 20px;
}

.top-container-image-container{
	position: relative;
	color: white;
}

.top-container-image > img{
	width: 100%;
	height: 100%;
}

.top-container-image-gradient{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c1c1c', endColorstr='#000000',GradientType=0 );
}

.overlay{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.63) 41%, rgba(0,0,0,0.95) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.63) 41%,rgba(0,0,0,0.95) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.63) 41%,rgba(0,0,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#f2000000',GradientType=0 );
	text-align: center;
	overflow: auto;
	display: none;
	z-index: 1;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2px;
    padding: 0;
}

.event-layout-title{
	font-size: 4vw;
	font-weight: bold;
}

.event-layout-guest-guest{
	display: inline-block;
	padding: 10px;
}

.event-title{
	position: absolute;
	bottom: 0;
	height: 6vw;
	width: 100%;
	font-size: 4vw;
	padding: 0px 0px 20px 10px;
}

.top-container-bottom{
	height: 15vh;
	border: solid grey 1px;
	font-size: 1.5vw;
	text-align: center;
	padding: 0px 5px;
	cursor: pointer;
}

.top-container-bottom-left{
	height: 100%;
	width: 70%;
	float: left;
}

.top-container-bottom-right{
	display: flex;
	flex-direction: column;
	float: right;
	font-size: 1vw;
	overflow: auto;
	height: 100%;
	width: 30%;
}

.top-container-bottom-right > p{
	margin: 0;
}

i{
	margin-right: 5px;
}

.bot-container{
	height: 50px;
	border: solid grey 1px;
	font-size: 1vw;
	padding: 0px 5px;
}

.bot-container-image{
	height: 100%;
	width: 25%;
	float: left;
}

.bot-container-image > img{
	max-width: 100%;
	max-height: 100%;
	padding: 5px;
	cursor: pointer;
}

.bot-container-name{
	height: 100%;
	width: 25%;
	float: left;
	padding: 5px;
}

.bot-container-name > p{
	cursor: pointer;
}

.bot-container-right{
	height: 100%;
	width: 50%;
	float: right;
	text-align: right;
}

.bot-container *{
	margin: 0;
}

/* Footer */

#footer p { margin: 15px 0; }

#footer a:link { color: #888888; font-weight: bold; text-decoration:  none;}

#footer a:visited { color: #666666; font-weight: bold;}

#footer a:hover, #footer a:active { color: #666666;}