@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

p{
	margin: 0;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 0;
}

#footer {
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePic {
	padding: 10px 20px;
	float: right;
	text-align: center;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

/* Event Content */
.event-header{
	background-color: black;
	max-height: 500px;
	width: 100vw;
	position: relative;
	color: white;
}

.event-header-image{
	text-align: center;
	width: 100%;	/*	max-width: 100%;	*/
	height: 100%;	/*	max-height: 100%;	*/
	z-index: 1;
}

.event-header-image > img{
	width: 100%; 	/*	max-width: 100%;	*/
	height: 100%;	/*	max-height: 100%;	*/
}

.event-header-title-gradient{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c1c1c', endColorstr='#000000',GradientType=0 );
	z-index: 2;
}

.event-title{
	position: relative;
	width: 100%;
	height: 80%;
	text-align: center; 
	font-size: 10vw;
	z-index: 3;
}

.event-title > p {
	position: absolute;
	top: 40%;
	width: 100%;
}

.event-header-button{
	width: 100%;
	height: 18%;
	text-align: right;
	padding-top: 10px;
	z-index: 3;
}

.event-header-button > button{
	width: 15vw;
	height: 5vh;
	font-size: 18px;
	font-weight: bold;
}

.event-bottom-half{
	clear: both;
	width: 100%;
	font-size: 18px;
	background-color: rgba(255,255,255,0.3);
	margin: 0 auto;
	border-radius: 10px;
}

.event-bottom-half p{
	margin-top: 10px;
}

.event-bottom-left{
	float: left;
	display: flex;
	flex-direction: column;
}

.event-bottom-left-top{
	flex: 1;
}

.event-bottom-right{
	float: right;
}

.event-desc{
	float: left;
	text-align: center;
}

.desc{
	font-size: 18px;
}

.event-guest{
	float: right;
	text-align: center;
}

.event-guest > div > div{
	padding: 5px;
}

.event-gallery{
	clear: both;
	text-align: center;
}

.event-gallery > p{
	text-align: left;
	margin: 0px 5px;
}

.event-gallery > img{
	margin: 5px;
	max-width: 50vw;
	max-height: 20vh;
}

.event-calendar{
	flex: 1;
	border: solid 1px cyan;
}

/* Google Map */
#map {
	width: 98%;
	height: 400px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: black;
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}