@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

p{
	margin: 0;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 0;
}

#footer {
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header p { 
	font-size: 30px;
	padding: 15px 0 10px 20px; 
	color: #49274a;
	font-weight: 500;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.navbar-nav{
	display: inline;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

/* Event Content */
#popup-container{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
	background-color: rgb(100, 100, 100);
	background-color: rgba(100, 100, 100, 0.7);
	z-index: 3;
	display: none;
}

#popup{
	width: 40%;
	height: 40%;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	margin-top: -10%;
	margin-left: -20%; /* (Width / 2) */
	border: 2px solid #4f2f03;
	background-color: #f8eee7;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#popup-title{
	font-size: 36px;
	text-align: center;
}

#popup-icons{
	margin: auto;
}

#popup > i{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 4;
}

#othersText{
	display: none;
}

.event-header{
	background-color: black;
	max-height: 500px;
	width: 100vw;
	position: relative;
	color: white;
}

.event-header-image{
	text-align: center;
	width: 100%;	/*	max-width: 100%;	*/
	height: 100%;	/*	max-height: 100%;	*/
	z-index: 1;
}

.event-header-image > img{
	width: 100%; 	/*	max-width: 100%;	*/
	height: 100%;	/*	max-height: 100%;	*/
}

.event-header-title-gradient{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%); 	/* FF3.6+ */
 	background: -webkit-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%); 		/* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%); 		/* Opera 11.10+ */
 	background: -ms-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%); 	/* IE10+ */
	z-index: 2;
}

.event-title{
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center; 
	font-size: 10vw;
	z-index: 3;
}

.event-title > p {
	display: table-cell;
	vertical-align :middle;
	width: 100%;
}

.event-header-button{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: right;
	z-index: 3;
}

.event-header-button2{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	text-align: right;
	z-index: 3;
}

.event-header-button > button{
	width: 15vw;
	height: 5vh;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px 0 0 4px;
}

.event-header-button2 > button{
	width: 15vw;
	height: 5vh;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px 0 0 4px;
}

.event-bottom-half{
	clear: both;
	width: 100%;
	font-size: 18px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.3);
	margin: 0 auto;
	padding-bottom: 15px;
	border-radius: 10px;
}

.event-bottom-half p{
	margin-top: 10px;
}

.event-bottom-left{
	float: left;
	display: flex;
	flex-direction: column;
}

.event-bottom-right{
	float: right;
	padding: 0;
}

.event-desc{
	float: left;
	text-align: center;
}

.desc{
	font-size: 18px;
}

.event-guest{
	float: right;
	text-align: center;
}

.event-guest > div > div{
	padding: 5px;
}

.event-gallery{
	clear: both;
	text-align: center;
	flex: 1;
}

.event-gallery > p{
	text-align: left;
	margin: 0 5px;
}

.event-gallery > img{
	margin: 5px;
	max-width: 50vw;
	max-height: 20vh;
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}