@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	height: 100%;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	height: 100%;
	margin: 0;
	flex: 1;
	display: flex;
	flex-direction: row;
}

#footer {
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header p { 
	font-size: 30px;
	padding: 15px 0 10px 20px; 
	color: #49274a;
	font-weight: 500;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

/* My CSS */
#left-container{
	float: left;
	position: relative;
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: row;
	overflow: auto;
}

#left-left-container{
	margin: 0 10px;
	width: 30px;
	height: 100%;
	float: left;
	border-right: 1px solid black;
}

#left-left-container > div{
	margin: 20px 0;
}

#left-right-container{
	flex: 1;
	float: right;
	position: relative;
	border-right: 1px solid black;
	padding-right: 40px;
}

.userDetailsInfo-container{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 200px;
	display: none;
	padding: 10px 0;
}
#registerBtn{
	float: right;
}

.requiredInput{
	color: red;
	font-size: 12px;
	padding-left: 5px;
}

.left-container-picture{
	width: 100%;
	text-align: center;
}

.left-container-picture > img{
	width: 120px;
	height: 80px;
}

.left-container-title{
	width: 100%;
	text-align: center;
}

.left-container-points{
	width: 100%;
	text-align: center;
}

.left-container-desc{
	flex: 1;
	width: 100%;
	text-align: center;
}

.userDetailsForm-container{
	padding: 10px 0;
	z-index: 1;
}

textarea{
	resize: none;
	height: 50px;
}

#leftBars{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

#right-container{
	float: right;
	flex: 1;
	margin: 10px;
	overflow: auto;
}

.right-top-container{
	display: table;
	width: 100%;
	text-align: center;
}

.right-top-topthree-container{
	display: table-cell;
	padding: 10px;
}

.right-top-topthree-picture > img{
	width: 180px;
	height: 120px;
}

.right-bottom-leaderboard-container{
	width: 100%;
	padding: 10px;
}

.row{
	margin: 0;
}

.right-bottom-ranking{
	width: 20px;
	text-align: center;
	font-size: 18px;
	margin-right: 10px;
}

.right-bottom-ranking > p{
	padding: 37px 0;
}

.right-bottom-picture{
	text-align: center;
}

.right-bottom-picture > img{
	width: 120px;
	height: 80px;
}

.right-bottom-score{
	border: solid 1px red;
	flex: 1;
}

.progressbar{
	margin: 40px 10px;
	width: calc(100% - 20px);
	background-color: grey;
	border-radius: 30px;
}

.progressbarbar{
	width: 0;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
	background-color: rgb(128, 255, 0);
}

#userProfileImageAndFood{
	width: 100%;
}

#userProfileImageAndFood > img{
	width: 120px;
	height: 80px;
}

#starContainer{
	position: relative;
	width: 400px;
	height: 100px;
}

#starBlackBackground{
	width: 100%;
	position: absolute;
	top: 0;
	left: 100px;
	z-index: 4;
}

#starYellowBackground{
	position: absolute;
	top: 0;
	left: 100px;
	background-color: yellow;
	width: 200px;
	height: 99px;
	z-index: 3;
}

/* Popup */
#popupBackground{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(100, 100, 100);
	background-color: rgba(100, 100, 100, 0.7);
	z-index: 4;
	display: none;
}

#popup{
	width: 600px;
	height: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	margin-top: -10%;
	margin-left: -300px; /* (Width / 2) */
	background-color: #f8eee7;
	border-radius: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#videoDiv{
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 150px;
	height: 100px;
	background-color: black;
	z-index: 1;
	display: none;
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}