@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Structure */
body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 0;
}

#content-wrapper {
	clear: both;
	width: 60%;
}

#content {
	padding: 0 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */
#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

/* Event */
.content{
	position: relative;
	height: 200px;
	color: white;
}

.content > img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.content *{
	margin: 0px;
}

.front-container{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001c1c1c', endColorstr='#000000', GradientType= 0);
	padding-right: 15%;
}

.title{
	width: 100%;
	font-size: 72px;
	padding-left: 15%;
}

.timeleft{
	position: absolute;
	right: 0;
	top: 35%;
	width: 15%;
	font-size: 24px;
}

.hostedOrNot{
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: red;
	font-size: 26px;
}
.back-container{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.63) 41%, rgba(0,0,0,0.95) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.63) 41%,rgba(0,0,0,0.95) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.63) 41%,rgba(0,0,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#f2000000',GradientType=0 );
	text-align: center;
	overflow: auto;
	z-index: 1;
}

.back-container > div{
	width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2px;
    padding: 0;
}

.event-layout-title{
	font-size: 4vw;
	font-weight: bold;
}

.event-layout-guest-guest{
	display: inline-block;
	padding: 10px;
}

.event-title{
	position: absolute;
	bottom: 0;
	height: 6vw;
	width: 100%;
	font-size: 4vw;
	padding: 0px 0px 20px 10px;
}
/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}