html
{
	margin: 0;
	padding: 0;
	color: #555555;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Links */

a:link { text-decoration: none; color: #94618e; }

a:visited { text-decoration: none; color: #557799; }

a:hover, a:active { color: #dd5555; }

/* Html Elements */

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; padding: 10px 0; color: #49274a; }

h1 { font-size: 32px; }

h2 { font-size: 3em; }

h3 { font-size: 24px; }

h4 { font-size: 20px; }

h5, h6 { font-size: 17px; }

p { margin: 0; }

ul { list-style-type: square; }

dt
{
	margin: 0;
	color: #94618e;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 0 2px;
	text-transform: uppercase;
}

dd { margin: 0; padding: 2px 0 5px; margin-bottom: 5px; border-bottom: 1px dotted #555555; }

dd.last { border-bottom-width: 0; }

pre { font-family: Consolas, Verdana, "Courier New"; font-size: 11px; padding: 10px 30px; }

abbr, acronym { text-decoration: none; border-bottom: 1px dotted #555555; cursor: help; }

em { font-style: italic; }

strong { font-weight: bold; }

ins { color: #555555; text-decoration: none; padding-left: 20px;}

del { text-decoration: line-through; }

blockquote { text-align: right; }

blockquote p { text-align: left; }

blockquote cite { font-style: normal; padding-right: 10px; }

/* Structure */

body
{
	margin: 0;
	float: left;
	width: 100%;
	background: #f8eee7;
}

#secondHeader {
	margin-top:5%;
	margin-bottom:4%;
}

#content-wrapper
{
	width: 80%;
	float: left;
	margin-left: 20px;
	background: #f3decb;
}

#content
{
	float: left;
	padding: 0 20px;
	width:100%;
}

#sidebar-wrapper
{
	width: 60%;
	float: left;
}

#sidebar
{
	float: left;
	padding: 0 20px;
}

#footer
{
	clear: both;
	float: left;
	width: 100%;
	color: #888888;
	text-align: center;
	background-color: #f3decb;
}

/* Header */

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

#hidableSearchBlock {
	margin-top:15px;
}

input[type='submit'] {
	background: #f3decb;
    border: none;
    color: black;
    padding:3px;
    text-align: center;
    text-decoration: none;
    width:60px;
}

#toggleSpan {
	background: #f3decb;
    border: none;
    color: black;
    padding:3px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}

/* Navigation */
#navigation
{
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#navigation ul { float: left; list-style-type: none; margin: 0; padding: 0; background: none; border-width: 0; }

#navigation li { float: left; }

#navigation a
{
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link,
#navigation a:visited
{
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover,
#navigation a:active
{
	color: #94618e;
}

.navbar-nav{
	display: inline;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

li#lhome a:hover,
li#lhome a:active
{
	background-position: 0 -3px;
}

li#lproducts a:hover,
li#lproducts a:active
{
	background-position: 0 1px;
}

li#lsolutions a:hover,
li#lsolutions a:active
{
	background-position: 0 2px;
}

li#lmysterious a:hover,
li#lmysterious a:active
{
	background-position: 0 -1px;
}

li#labout a:hover,
li#labout a:active
{
	background-position: 0 -2px;
}

li#lcontact a:hover,
li#lcontact a:active
{
	background-position: 0 -3px;
}

body#babout li#labout a
{
	color: #99bbdd;
	background: #f3decb;
}

#wrapper {
	width:80%;
	margin-left: 4%;
}

/*Table Start*/
#tableWrapper {
	height: 400px; 
	overflow-y: scroll;
}

table {
    width: 100%;
    border-spacing: 0;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	height: 340px;
}

tbody td, thead th {
    width: 16%;
	border-right: 1px solid black;
}

tbody {
	overflow: scroll;
	height:300px;
	max-height:300px;
	border: 1px solid black;
}

thead th {
	color:#94618e;
	width:16%;
}

thead th:last-child {
    width:100%;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

tbody td:last-child {
	width:100%;
	float:right;
	clear: both;
}

td button {
	margin-left: 20px;
	background: #94618e;
    border: none;
    color: white;
    padding:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float:right;
    width:60px;
}
td button:hover {
    background-color: #94618e;
    color: white;
}
/*Table end*/

input {
	margin-bottom: 10px;
}

#switches {
	margin-bottom: 20%;
}

#sidebar p
{
	color: #555555;
	margin: 10px 35px;
	padding: 5px 30px;
	line-height: 1.6em;
	background: #f8eee7;
}

#thumbnailBox img{
	border-radius:10px;
}


/* Footer */

#footer p { margin: 15px 0; }

#footer a:link { color: #888888; font-weight: bold; border-bottom: 1px dotted #888888; }

#footer a:visited { color: #666666; font-weight: bold; border-bottom: 1px dotted #666666; }

#footer a:hover, #footer a:active { color: #555555; border-bottom: 1px solid #555555; }


.active {
	background-color:#f3decb; 
}

.inactive {
	border: #94618e 1px solid;
}

#displayUnit{
	height:150px;
	width:100%; 
	border-radius:10px; 
	margin-top:20px;
	margin-bottom:20px;
}

#displayUnit div { float:left;}

#thumbnailBox { height:150px; width:15%;}

#column1{ height:150px; width:25%;}

#column2{ height:150px; width:30%;}

.row1 { height:50%; width:100%; color:black; font-size:2em}

.row2 { height:50%; width:100%; color:black; font-size:2em}

.row3 { height:50%; width:100%; color:black; font-size:2em}

.foodTitle {
	font-size:2.5em;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

input[type=text] {
	border-radius:3px;
	border: 0px;
}

input[type=time] {
	border-radius:3px;
	border: 0px;
}

input[type=number] {
	border-radius:3px;
	border: 0px;
}

button {
	background: #94618e;
    border: none;
    color: white;
    padding:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    width:60px;
}

input[type=text] {
	border-radius:3px;
	border: 0px;
}

input[type=time] {
	border-radius:3px;
	border: 0px;
}

input[type=number] {
	border-radius:3px;
	border: 0px;
}

#search {
	margin-bottom:40px;
}

#radios2 ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 50%;
  border-bottom: 1px solid #AAAAAA;
}

#radios2 ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

#radios2 ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 20px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

#radios2 ul li:hover label{
	color: #FFFFFF;
}

#radios2 ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

#radios2 ul li:hover .check {
  border: 5px solid #FFFFFF;
}

#radios2 ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

#radios2 input[type=radio]:checked ~ .check {
  border: 5px solid #94618e;
}

#radios2 input[type=radio]:checked ~ .check::before{
  background: #94618e;
}

#radios2 input[type=radio]:checked ~ label{
  color: #94618e;
} 

#radios ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
	border-bottom: 1px solid #AAAAAA;
}

#radios ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

#radios ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 20px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

#radios ul li:hover label{
	color: #FFFFFF;
}

#radios ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

#radios ul li:hover .check {
  border: 5px solid #FFFFFF;
}

#radios ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

#radios input[type=radio]:checked ~ .check {
  border: 5px solid #94618e;
}

#radios input[type=radio]:checked ~ .check::before{
  background: #94618e;
}

#radios input[type=radio]:checked ~ label{
  color: #94618e;
}
#searchBar{
  display: block;
  position: relative;
  height: auto;
  width: 250px;
}

#searchBar h2 {
	color: #AAAAAA;
}

#searchBar ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

#searchBar p{
	font-size:1.4em;
}