@CHARSET "ISO-8859-1";


html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}


.container{
	width: 500px;
	min-width: 390px;
	height: 500px;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	margin: 150px auto;
	position: absolute;
}

.icon_container{
	width: 30%;
	float: right;
	height: 100%;
}

.icon_container i:nth-child(1){
	width: 10px;
}

.icon_container i{
	height: 30px;
	cursor: pointer;
}

.messages_section{
	width: 100%;
	height: 400px;
	box-sizing: border-box;
	padding-bottom: 49px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: scroll;}

.messages_section::-webkit-scrollbar{
	width: 10px;
}

.messages_section::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #94618e;
}

.single_chat{
	width: 100%;
	height: 110px;
	position: relative;
	box-sizing: border-box;
	padding: 10px 30px;
}

.single_chat:hover{
	cursor: pointer;
	background-color: #f8eee7;
}

.single_chat:after{
	width: 50%;
	height: 1px;
	content: "";
	background-color: rgba(165, 165, 165, 0.8);
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	bottom: 0;
}

.image_container{
	height: 100%;
	display: flex;
	width: 80px;
	align-items: center;
	justify-content: center;
	float: left;
}

.image_container img{
	height: 90%;
	border-radius: 999px;
}

.content_container{
	width: calc(100% - 80px);
	display: flex;
	align-items: center;
	height: 100%;
}

.content_container_inner{
	height: auto;
	float: left;
	margin-left: 20px;
	box-sizing: border-box;
	width: 100%;
}

.user_name{
	font-size: 22px;
	width: 100%;
	display: block;
	letter-spacing: 1.1px;
	font-weight: bold;
}

.chat_content{
	width: 100%;
	display: block;
	font-size: 20px;
}

.chat_content span{
	background-color: #49274a;
	float: right;
	border-radius: 999px;
	padding: 5px;
	box-sizing: border-box;
	width: 30px;
	overflow: hidden;
	height: 30px;
	text-align: center;
	color: white;
	font-size: 18px;
	vertical-align: -3px;
	line-height: 19px;
}

.user_name span,
.read{
	color: #94618e;
	font-size: 16px;
	float: right;
}

input[type=text] {
    width: 120px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background: #fbfbfb;
	border: 2px solid #aaaaaa;
	border-radius: 3px;
	resize: none;
}

/* When the input field gets focus, change its width to 90% */
input[type=text]:focus {
    width: 50%;
    background: #f3decb;
}

.add_contact {
	display: inline;
	margin: 200px;
}

.add_contact:hover {
	cursor: pointer;
}






.chatbox {
	width: 500px;
	min-width: 390px;
	height: 600px;
	background: #f8eee7;
	padding: 25px;
	margin: 20px auto;
}

.chatlogs {
	padding: 10px;
	width: 100%;
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar{
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #94618e;
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.chat .user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.chat .user-photo img{
	width: 100%;
}

.chat .chat-message {
	width: 70%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	colour: #fff;
	font-size: 18px;
}

.friend .chat-message {
	background: #1adda4;
}

.self .chat-message {
	background: #1ddced;
	order: -1;
}

.chat-form {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}

.chat-form textarea {
	background: #fbfbfb;
	width: 75%;
	height: 50px;
	border: 2px solid #aaaaaa;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 18px;
}

.chat-form textarea:focus {
	background: #f3decb;
}

.chat-form textarea::-webkit-scrollbar{
	width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: #94618e;
}

.chat-form input[type="submit"] {
	background: #49274a;
	padding: 5px 15px;
	font-size: 30px;
	color: #f3decb;
	border: none;
	margin: 0 10px;
	border-radius: 3px;
	cursor: pointer;
}

.chat-form input[type="submit"]:hover {
	color: #49274a;
	background: #f8eee7;
	border: 1px solid #49274a;
}



/* Html Elements */


h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4 { 
	font-size: 20px; 
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: square; 
} 

/* Structure */

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
}

#content-wrapper {
	clear: both;
	width: 60%;
}

#content {
	padding: 0 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePic {
	padding: 10px 20px;
	float: right;
	text-align: center;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}