@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4 { 
	font-size: 20px; 
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: none; 
} 

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
}

#content-wrapper {
	clear: both;
	width: 70%;
	margin: auto;
}

#content {
	padding: 0 20px;
}

#footer {
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

.thatLine {
	content: "";
    display: block;
    margin: auto;
    border-top: 1px solid #fff;
}

#profilePicDiv {
	text-align:center;
	border-right: 2px solid #e36209;
}

#displayNameDiv {
	margin-top: 10px;
}

#displayNameSpan {
	font-size: 20px;
}

#joinedSpan {
	display: block;
	font-size: 17px;
}

#privilegedSpan {
	display: block;
	font-size: 17px;
	color: #e36209;
    font-weight: 600;
}

#editProfileBtnDiv {
	margin-top: 10px;
}

#editProfileBtn {
	height: 25px;
	width: 160px;
	font-weight: 600;
    outline: none;
    color: white;
    background-color: #49274a;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
}

#editProfileBtn:hover {
	border: 1px solid #49274a;
	color: #49274a;
	background-color: #f8eee7;
}

#profileContentDiv {
	
}

#profileNavDiv {
	
}

#profileNavList {
	padding: 9px 0px;
	border-bottom: 1px solid #ccc;
}

#profileNavList a {
	padding: 9px 8px;
	margin-right: 10px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #49274a;
}

#profileNavList a:hover {
	color: #49274a;
	border-bottom: 2px solid #49274a;
}

#defaultSelected {
	border-bottom: 2px solid #e36209;
}

#defaultSelected:hover {
	border-bottom: 2px solid #e36209 !important;
}

#aboutContentDiv {
	
}

#pointsDiv {
    margin-top: 10px;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-PointsDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-PointsDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#cookingRankDiv {
    margin-top: 10px;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-RankDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-RankDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#totalAmtDiv {
	margin-top: 10px;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-TotalAmtDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-TotalAmtDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#genderDiv {
    margin-top: 10px;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-GenderDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-GenderDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#emailDiv {
    margin-top: 10px;
    text-align: center;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-EmailDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-EmailDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#contactDiv {
    margin-top: 10px;
    text-align: center;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-ContactDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-ContactDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#bioDiv {
    margin-top: 10px;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-BioDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-BioDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#addressDiv {
	margin-top: 10px;
    background-color: #f3decb;
    padding: 10px 8px;
}

#upper-AddressDiv {
	height: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    padding: 3px 0px;
}

#lower-AddressDiv {
	height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#postalCodeDiv {
	margin-right: 15px;
}

#psSpan {
	display: block;
	font-size: 15px;
}

#postalCodeSpan {
	display: block;
}

#unSpan {
	display: block;
	font-size: 15px;
}

#unitNoSpan {
	display: block;
}


/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}