@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4 { 
	font-size: 20px; 
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: none; 
}

th, td {
	padding: 16px !important;
}

input {
	height: 25px;
	padding: 5px 5px;
}

input[type=date] {
	-webkit-appearance: textfield;
	padding: 2px 5px;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
}

#content-wrapper {
	clear: both;
	width: 70%;
	margin: auto;
}

#content {
	padding: 0 20px;
}

#footer {
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

#profilePicDiv {
	text-align:center;
}

#profileImgDiv {
	margin-top: 10px;
}

#displayNameDiv {
	margin-top: 10px;
}

#displayNameSpan {
	font-size: 20px;
}

#joinedSpan {
	display: block;
	font-size: 17px;
}

#privilegedSpan {
	display: block;
	font-size: 17px;
	color: #e36209;
    font-weight: 600;
}

#profileContentDiv {
	
}

#profileNavDiv {
	width: 98.5%;
}

#profileNavList {
	padding: 9px 0px;
	border-bottom: 1px solid #ccc;
}

#profileNavList a {
	padding: 9px 8px;
	margin-right: 10px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #49274a;
}

#profileNavList a:hover {
	color: #49274a;
	border-bottom: 2px solid #e36209;
}

#defaultSelected {
	border-bottom: 2px solid #e36209;
}

#aboutContentDiv {
	
}

#dropdownDivWrap {
	margin-top: 20px;
}

#filterBtn {
	height: 25px;
	width: 10em;
	font-weight: 600;
    outline: none;
    color: white;
    background-color: #49274a;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    line-height: 1;
}

#filterBtn:hover {
	border: 1px solid #49274a;
	color: #49274a;
	background-color: #f8eee7;
}

#dropdownDiv {
	position: relative;
}

#dropdownContentDiv {
	display: none;
	width: 65%;
    min-width: 160px;
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#filterDiv {
	width: 70%;
	min-width: 12em;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 10px;
}

.searchDiv {
	margin-bottom: 10px;
}

.searchInput {
	width: 100%;
	display: block;
}

.searchSelect {
	height: 25px;
	width: 100%;
	display: block;
}

#afterDateDiv {
	display: none;
	margin-right: 6.1%;
}

#beforeDateDiv {
	display: none;
}

#buttonDiv {
	display: flex;
	flex-direction: row-reverse;
}

#searchBtn {
	height: 25px;
	width: 7em;
	font-weight: 600;
    outline: none;
    color: white;
    background-color: #49274a;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    line-height: 1;
}

#searchBtn:hover {
	border: 1px solid #49274a;
	color: #49274a;
	background-color: #f8eee7;
}

#tableWrap {
	max-height: 400px;
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

#donationTable {
	margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #888; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #888;
    background-color: #888; 
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}