@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

h1 {
	margin-top: 60px;
	text-align: center;
	color: #94618e;
}

form {
	margin: 20px auto;
	width: 320px;
}

input {
	padding: 10px;
	font-size: inherit;
}

input[type="password"],
input[type="text"],
input[type="email"]{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #49274a;
	background-color: #f3decb;
}

select {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #49274a;
	background-color: #f3decb;
}

input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	background: #49274a;
	color: #f3decb;
	border-radius: 20px;
	cursor: pointer;
}

input[type="submit"]:hover {
	color: #49274a;
	background: #f8eee7;
	border: 1px solid #49274a;
}

#footer
{
	clear: both;
	float: left;
	width: 100%;
	color: #888888;
	text-align: center;
	background-color: #f3decb;
}

#footer p { margin: 15px 0; }

#footer a:link { color: #888888; font-weight: bold; text-decoration:  none;}

#footer a:visited { color: #666666; font-weight: bold;}

#footer a:hover, #footer a:active { color: #666666;}
