@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
	min-height: 480px;
}

#content-wrapper {
	clear: both;
	width: 60%;
}

#content {
	padding: 0 20px;
}

#footer {
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}
/* Header */

#header p { 
	font-size: 30px;
	padding: 15px 0 10px 20px; 
	color: #49274a;
	font-weight: 500;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePicWrapDiv {
	position: relative;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#profilePic {
	padding: 10px 20px;
	text-align: center;
}

#profileDropdownDiv {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	background-color: #f8eee7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownDiv a {
	display: block;
	color: black;
	font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
}

#profileDropdownDiv a:hover {
	color: #f3decb;
    font-weight: bold;
    text-transform: uppercase;
	background-color: #49274a;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

.navbar-nav{
	display: inline;
}

.dropdown-menu > li{
	width: 120px;
	background: #49274a;
}

/* My CSS */
#localVideo {
	width: 300px;
	height: 300px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#voteDiv{
	position: absolute;
	top: 40px;
	left: 220px;
	width: 180px;
	height: 240px;
	overflow-y: auto;
	border-radius: 12px;
	background-color: black;
	display: none;
}

.voteDivContent{
	text-align: center;
	margin: 20px;
	cursor: pointer;
}

.row{
	margin: 0;
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}