<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>OwnerLeaderboardPage</servlet-name>
		<display-name>OwnerLeaderboardPage</display-name>
		<description></description>
		<servlet-class>event.OwnerLeaderboardPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EventPage</servlet-name>
		<display-name>EventPage</display-name>
		<description></description>
		<servlet-class>event.EventPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>discussion</servlet-name>
		<display-name>discussion</display-name>
		<description></description>
		<servlet-class>forum.discussion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>createNewPost</servlet-name>
		<display-name>createNewPost</display-name>
		<description></description>
		<servlet-class>forum.createNewPost</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EventofEventPage</servlet-name>
		<display-name>EventofEventPage</display-name>
		<description></description>
		<servlet-class>event.EventofEventPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProcessImage</servlet-name>
		<display-name>ProcessImage</display-name>
		<description></description>
		<servlet-class>barcode.ProcessImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Forum</servlet-name>
		<display-name>Forum</display-name>
		<description></description>
		<servlet-class>forum.Forum</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Donation</servlet-name>
		<display-name>Donation</display-name>
		<description></description>
		<servlet-class>donation.Donation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Profile</servlet-name>
		<display-name>Profile</display-name>
		<description></description>
		<servlet-class>profile.Profile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<display-name>EditProfile</display-name>
		<description></description>
		<servlet-class>profile.EditProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmDonation</servlet-name>
		<display-name>ConfirmDonation</display-name>
		<description></description>
		<servlet-class>donation.ConfirmDonation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logs</servlet-name>
		<display-name>Logs</display-name>
		<description></description>
		<servlet-class>logs.Logs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>testinfo</servlet-name>
		<display-name>testinfo</display-name>
		<description></description>
		<servlet-class>forum.testinfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<display-name>Registration</display-name>
		<description></description>
		<servlet-class>login.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoogleGeocoding</servlet-name>
		<display-name>GoogleGeocoding</display-name>
		<description></description>
		<servlet-class>event.geocoding.GoogleGeocoding</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateEventPage</servlet-name>
		<display-name>CreateEventPage</display-name>
		<description></description>
		<servlet-class>event.CreateEventPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyEventPage</servlet-name>
		<display-name>MyEventPage</display-name>
		<description></description>
		<servlet-class>event.MyEventPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<display-name>ImageServlet</display-name>
		<description></description>
		<servlet-class>image.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoServlet</servlet-name>
		<display-name>VideoServlet</display-name>
		<description></description>
		<servlet-class>image.VideoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileDonation</servlet-name>
		<display-name>ProfileDonation</display-name>
		<description></description>
		<servlet-class>profile.ProfileDonation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFoodPref</servlet-name>
		<display-name>AddFoodPref</display-name>
		<description></description>
		<servlet-class>profile.AddFoodPref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SuccessPage</servlet-name>
		<display-name>SuccessPage</display-name>
		<description></description>
		<servlet-class>forum.SuccessPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<display-name>LoginPage</display-name>
		<description></description>
		<servlet-class>login.LoginPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodPref</servlet-name>
		<display-name>FoodPref</display-name>
		<description></description>
		<servlet-class>profile.FoodPref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveFoodPref</servlet-name>
		<display-name>RemoveFoodPref</display-name>
		<description></description>
		<servlet-class>profile.RemoveFoodPref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ParticipantLeaderboardPage</servlet-name>
		<display-name>ParticipantLeaderboardPage</display-name>
		<description></description>
		<servlet-class>event.ParticipantLeaderboardPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test2</servlet-name>
		<display-name>Test2</display-name>
		<description></description>
		<servlet-class>forum.Test2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<display-name>ChangePassword</display-name>
		<description></description>
		<servlet-class>profile.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgetPassword</servlet-name>
		<display-name>ForgetPassword</display-name>
		<description></description>
		<servlet-class>login.ForgetPassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BarcodeScanning</servlet-name>
		<display-name>BarcodeScanning</display-name>
		<description></description>
		<servlet-class>event.BarcodeScanning</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForceChangePassword</servlet-name>
		<display-name>ForceChangePassword</display-name>
		<description></description>
		<servlet-class>login.ForceChangePassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Subscription</servlet-name>
		<display-name>Subscription</display-name>
		<description></description>
		<servlet-class>forum.Subscription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowBarcode</servlet-name>
		<display-name>ShowBarcode</display-name>
		<description></description>
		<servlet-class>event.ShowBarcode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GenerateBarcode</servlet-name>
		<display-name>GenerateBarcode</display-name>
		<description></description>
		<servlet-class>barcode.GenerateBarcode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DonationSuccess</servlet-name>
		<display-name>DonationSuccess</display-name>
		<description></description>
		<servlet-class>donation.DonationSuccess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyRecaptcha</servlet-name>
		<display-name>VerifyRecaptcha</display-name>
		<description></description>
		<servlet-class>forum.VerifyRecaptcha</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test123</servlet-name>
		<display-name>test123</display-name>
		<description></description>
		<servlet-class>forum.test123</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test111</servlet-name>
		<display-name>test111</display-name>
		<description></description>
		<servlet-class>forum.test111</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Subscription2</servlet-name>
		<display-name>Subscription2</display-name>
		<description></description>
		<servlet-class>forum.Subscription2</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>TalkTimer</servlet-name>
		<display-name>TalkTimer</display-name>
		<description></description>
		<servlet-class>potcastTalk.TalkTimer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
		<servlet>
			<servlet-name>SuccessReporting</servlet-name>
			<display-name>SuccessReporting</display-name>
			<description></description>
			<servlet-class>forum.SuccessReporting</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>Trending</servlet-name>
			<display-name>Trending</display-name>
			<description></description>
			<servlet-class>forum.Trending</servlet-class>
		</servlet>
	<servlet-mapping>
		<servlet-name>EventPage</servlet-name>
		<url-pattern>/EventPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>discussion</servlet-name>
		<url-pattern>/discussion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createNewPost</servlet-name>
		<url-pattern>/createNewPost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EventofEventPage</servlet-name>
		<url-pattern>/EventofEventPage/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessImage</servlet-name>
		<url-pattern>/ProcessImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forum</servlet-name>
		<url-pattern>/Forum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Donation</servlet-name>
		<url-pattern>/Donation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/EditProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmDonation</servlet-name>
		<url-pattern>/ConfirmDonation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logs</servlet-name>
		<url-pattern>/Logs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>testinfo</servlet-name>
		<url-pattern>/testinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoogleGeocoding</servlet-name>
		<url-pattern>/GoogleGeocoding</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateEventPage</servlet-name>
		<url-pattern>/CreateEventPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyEventPage</servlet-name>
		<url-pattern>/MyEventPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/Image/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoServlet</servlet-name>
		<url-pattern>/Video/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileDonation</servlet-name>
		<url-pattern>/ProfileDonation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFoodPref</servlet-name>
		<url-pattern>/AddFoodPref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuccessPage</servlet-name>
		<url-pattern>/SuccessPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodPref</servlet-name>
		<url-pattern>/FoodPref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveFoodPref</servlet-name>
		<url-pattern>/RemoveFoodPref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ParticipantLeaderboardPage</servlet-name>
		<url-pattern>/ParticipantLeaderboardPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test2</servlet-name>
		<url-pattern>/Test2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetPassword</servlet-name>
		<url-pattern>/ForgetPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BarcodeScanning</servlet-name>
		<url-pattern>/BarcodeScanning</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForceChangePassword</servlet-name>
		<url-pattern>/ForceChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Subscription</servlet-name>
		<url-pattern>/Subscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowBarcode</servlet-name>
		<url-pattern>/ShowBarcode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateBarcode</servlet-name>
		<url-pattern>/GenerateBarcode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DonationSuccess</servlet-name>
		<url-pattern>/DonationSuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OwnerLeaderboardPage</servlet-name>
		<url-pattern>/OwnerLeaderboardPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyRecaptcha</servlet-name>
		<url-pattern>/VerifyRecaptcha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test123</servlet-name>
		<url-pattern>/test123</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test111</servlet-name>
		<url-pattern>/test111</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Subscription2</servlet-name>
		<url-pattern>/Subscription2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuccessReporting</servlet-name>
		<url-pattern>/SuccessReporting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Trending</servlet-name>
		<url-pattern>/Trending</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>
