<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- Admin -->
	<servlet>
		<servlet-name>AdminForumControl</servlet-name>
		<servlet-class>admin.AdminForumControl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminGeneral</servlet-name>
		<servlet-class>admin.AdminGeneral</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminSupport</servlet-name>
		<servlet-class>admin.AdminSupport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BanHistory</servlet-name>
		<servlet-class>admin.BanHistory</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BanPanel</servlet-name>
		<servlet-class>admin.BanPanel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DonationPanel</servlet-name>
		<servlet-class>admin.DonationPanel</servlet-class>
	</servlet>
	<!-- Admin Mapping -->
	<servlet-mapping>
		<servlet-name>AdminForumControl</servlet-name>
		<url-pattern>/AdminForumControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminGeneral</servlet-name>
		<url-pattern>/AdminGeneral</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminSupport</servlet-name>
		<url-pattern>/AdminSupport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BanHistory</servlet-name>
		<url-pattern>/HistoryAdminBans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BanPanel</servlet-name>
		<url-pattern>/AdminBans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DonationPanel</servlet-name>
		<url-pattern>/AdminDonations</url-pattern>
	</servlet-mapping>
	
	<!-- Donation -->
	<servlet>
		<servlet-name>Donation</servlet-name>
		<servlet-class>donation.Donation</servlet-class>
	</servlet>
	<!-- Donation Mapping -->
	<servlet-mapping>
		<servlet-name>Donation</servlet-name>
		<url-pattern>/Donation</url-pattern>
	</servlet-mapping>
	
	<!-- Event -->
	<servlet>
		<servlet-name>EventPage</servlet-name>
		<servlet-class>event.EventPage</servlet-class>
	</servlet>
	<!-- Event Mapping -->
	<servlet-mapping>
		<servlet-name>EventPage</servlet-name>
		<url-pattern>/EventPage</url-pattern>
	</servlet-mapping>
	
	<!-- Forum -->
	<servlet>
		<servlet-name>Forum</servlet-name>
		<servlet-class>forum.Forum</servlet-class>
	</servlet>
	<!-- Forum Mapping -->
	<servlet-mapping>
		<servlet-name>Forum</servlet-name>
		<url-pattern>/Forum</url-pattern>
	</servlet-mapping>
	
	<!-- Forum -->
	<servlet>
		<servlet-name>Logs</servlet-name>
		<servlet-class>logs.Logs</servlet-class>
	</servlet>
	<!-- Forum Mapping -->
	<servlet-mapping>
		<servlet-name>Logs</servlet-name>
		<url-pattern>/Logs</url-pattern>
	</servlet-mapping>
	
	<!-- P2Pfood -->
	<servlet>
		<servlet-name>PotcastList</servlet-name>
		<servlet-class>p2pfood.PotcastList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PotcastMy</servlet-name>
		<servlet-class>p2pfood.PotcastMy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PotcastRegister</servlet-name>
		<servlet-class>p2pfood.PotcastRegister</servlet-class>
	</servlet>
	<!-- P2Pfood Mapping -->
	<servlet-mapping>
		<servlet-name>PotcastList</servlet-name>
		<url-pattern>/p2plist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PotcastMy</servlet-name>
		<url-pattern>/p2pmy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PotcastRegister</servlet-name>
		<url-pattern>/p2preg</url-pattern>
	</servlet-mapping>
	
	<!-- Profile -->
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>profile.Profile</servlet-class>
	</servlet>
	<!-- Profile Mapping -->
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	
</web-app>
