@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 {
	font-size: 24px; 
}

h4 { 
	font-size: 20px;
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: square; 
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePic {
	padding: 10px 20px;
	float: right;
	text-align: center;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
}

#content-wrapper {
	clear: both;
	/*width: 60%;*/
}

#content {
	padding: 0 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

#onBehalfDiv {
	height: 100px;
	width: 800px;
	margin: auto;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}

#askDiv {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#thatLine {
	content: "";
    display: block;
    margin: auto;
    width: 40%;
    border-top: 1px solid #49274a;
}

#onBehalfCheckDiv {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#yesSpan {
	padding-left: 5px;
	padding-right: 10px;
}

#donateAmtDiv {
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}

#donateLabel {
	display: block;
}

#donateAmt {
	position: relative;
	right: 2.5%;
}

#inputInfoDiv {
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}

#nameInputDiv {
	
}

#nameLabel {
	display: block;
	position: relative;
	right: 10.4%;
}

#nameInput {
	position: relative;
	right: 2.5%;
}

#cardInputDiv {
	
}

#cardLabel {
	display: block;
	position: relative;
	right: 5.6%;
}

#cardNo {
	position: relative;
	right: 2.5%;
}

#dateCodeDiv {
	display: flex;
}

#dateDiv {
	position: relative;
	left: 30%;
}

#expiryDateLabel {
	display: block;
	position: relative;
	left: 21%;
}

#selectMonth {
	height: 26px;
	width: 60px;
	position: relative;
	left: 50%;
}

#selectYear {
	height: 26px;
	width: 60px;
	position: relative;
	left: 50%;
}

#codeDiv {
	position: relative;
	left: 40%;
}

#codeLabel {
	display: block;
	position: relative;
	right: 27.5%;
}

#securityCode {
	
}

/* Footer */

#footer p {
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration: none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}