@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 {
	font-size: 24px; 
}

h4 { 
	font-size: 20px;
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: square; 
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePic {
	padding: 10px 20px;
	float: right;
	text-align: center;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 40px 0;
}

#content-wrapper {
	clear: both;
	/*width: 60%;*/
}

#content {
	padding: 0 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

#onBehalfDiv {
	height: 100px;
	width: 800px;
	margin: auto;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
	background-color: #f3decb;
}

#askDiv {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.thatLine {
	content: "";
    display: block;
    margin: auto;
    width: 40%;
    border-top: 1px solid #49274a;
}

#onBehalfCheckDiv {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#yesLabel {
	padding-left: 5px;
	padding-right: 10px;
	margin-bottom: 0;
}

#behalfName {
	height: 25px;
	width: 200px;
	padding: 5px 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#donateAmtDiv {
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
	background-color: #f3decb;
}

#donateLabel {
	display: block;
	position: relative;
	right: 0.3%;
}

#donateAmt {
	height: 25px;
	width: 200px;
	padding: 5px 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#inputInfoDiv {
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
	background-color: #f3decb;
}

#nameInputDiv {
	
}

#nameLabel {
	display: block;
	position: relative;
	right: 10.5%;
}

#nameInput {
	height: 25px;
	width: 200px;
	padding: 5px 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#cardInputDiv {
	
}

#cardLabel {
	display: block;
	position: relative;
	right: 5.8%;
}

#cardNo {
	height: 25px;
	width: 200px;
	padding: 5px 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#dateCodeDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

#dateDiv {
	position: relative;
	right: 0.1%;
}

#expiryDateLabel {
	display: block;
	position: relative;
	right: 29%;
}

#selectMonth {
	height: 25px;
	width: 60px;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
    cursor: pointer;
}

#selectYear {
	height: 25px;
	width: 60px;
	position: relative;
	right: 1.1%;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
    cursor: pointer;
}

#codeDiv {
	
}

#codeLabel {
	display: block;
	position: relative;
	right: 1.5%;
}

#securityCode {
	height: 25px;
	width: 75px;
	padding: 5px 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
}

#errorMsg {
	display: none;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	color: white;
	background-color: #f74225;
	padding: 5px;
}

#buttonDiv {
	margin-top: 10px;
}

#donateBtn {
	height: 25px;
    width: 100px;
    outline: none;
    color: white;
    background-color: #49274a;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Footer */

#footer p {
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration: none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}