@CHARSET "ISO-8859-1";
html
{
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; padding: 10px 0; color: #94618e; }

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }

h4 { font-size: 20px; }

h5, h6 { font-size: 17px; }

p { margin: 0; }

i { margin: 0; }

ul { list-style-type: square; } 

/* Structure */

body
{
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header
{
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation
{
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper
{
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
}

#content-wrapper
{
	clear: both;
	width: 60%;
}

.content
{
	padding: 0 20px;
	width: 30vw;
}

#footer
{
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle{
	float: left;
}

#profilePic{
	padding: 10px 20px;
	float: right;
}

/* Navigation */

#navigation ul { float: left; list-style-type: none; margin: 0; padding: 0; background: none; border-width: 0; }

#navigation li { float: left; }

#navigation a
{
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link,
#navigation a:visited
{
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover,
#navigation a:active
{
	color: #94618e;
}

/* Event Content */

.top-container *{
	width: 100%;
	height: 100%;
}

.top-container-image-container{
	position: relative;
	color: white;
}

.top-container-image-gradient{
	position: absolute;
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.96) 96%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(28,28,28,0) 0%,rgba(28,28,28,0.96) 96%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c1c1c', endColorstr='#000000',GradientType=0 );
}

.event-title{
	position: absolute;
	bottom: 0;
	height: 6vw;
	font-size: 4vw;
	padding: 0px 0px 20px 10px;
}

.top-container-bottom{
	height: 10vh;
	font-size: 1vw;
	text-align: center;
}

.top-container-bottom-left{
	width: 70%;
	height: 100%;
	float: left;
}

.top-container-bottom-right{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
	float: right;
	font-size: 0.5vw;
	overflow: auto;
}

i{
	height: 0px;
	margin-right: 5px;
}

.bot-container{
	border: solid cyan 1px;
	height: 50px;
	width: 100%;
	font-size: 1vw;
}

.bot-container-image{
	height: 50px;
	width: 50px;
	float: left;
}

.bot-container-image > img{
	max-width: 100%;
	max-height: 100%;
	padding: 5px;
}

.bot-container-name{
	height: 100%;
	float: left;
	padding: 5px 5px;
}

.bot-container-right{
	max-width: 100%;
	height: 100%;
	float: right;
	text-align: right;
}

/* Footer */

#footer p { margin: 15px 0; }

#footer a:link { color: #888888; font-weight: bold; text-decoration:  none;}

#footer a:visited { color: #666666; font-weight: bold;}

#footer a:hover, #footer a:active { color: #666666;}