@CHARSET "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #f8eee7;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #94618e; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4 { 
	font-size: 20px; 
}

h5, h6 { 
	font-size: 17px; 
}

p { 
	margin: 0; 
}

ul { 
	list-style-type: square; 
} 

/* Structure */

body {
	margin: 0;
	float: left;
	width: 100%;
	background-color: #f8eee7;
}

#header {
	float: left;
	width: 100%;
	clear: both;
	background: #f3decb;
}

#navigation {
	float: left;
	width: 100%; 
	color: #f3decb;
	background: #49274a;
}

#wrapper {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0;
}

#content-wrapper {
	clear: both;
	width: 60%;
}

#content {
	padding: 0 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	clear: both;
	float: left;
	width: 100%; 
	color: #888888;
	text-align: center; 
	background-color: #f3decb;
}

/* Header */

#header h1 { 
	padding: 20px; 
	color:#49274a;
}

#companyTitle {
	float: left;
	padding-top: 10px;
}

#profilePic {
	padding: 10px 20px;
	float: right;
	text-align: center;
}

#welcomeSpan {
	display: block;
	padding-top: 5px;
}

/* Navigation */

#navigation ul { 
	float: left; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	background: none; 
	border-width: 0; 
}

#navigation li { 
	float: left; 
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
	text-decoration: none;
}

#navigation a:link, #navigation a:visited {
	color: #f3decb;
	font-weight: bold;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	color: #94618e;
}

/* Footer */

#footer p { 
	margin: 15px 0; 
}

#footer a:link { 
	color: #888888; 
	font-weight: bold; 
	text-decoration:  none;
}

#footer a:visited { 
	color: #666666; 
	font-weight: bold;
}

#footer a:hover, #footer a:active { 
	color: #666666;
}